body {
	text-align: center;
    background-image: url(./sudoku.jpeg);
    background-size: auto;
}

h1 {
	color: #9d62e9;
	font-size: 10vh;
    margin-bottom: 0;
}
/* .container {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 50px 50px;  
} */

.content {
	border-spacing: 0;
	border: 4px solid #4d0b74;
	border-collapse: collapse;
	color: #9e230d;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin-top: 1rem;
}

table tr:nth-child(3), table tr:nth-child(6) {
	border-bottom: 3px solid #341a96;
}

table tr td:nth-child(3), table tr td:nth-child(6) {
	border-right: 3px solid #080769;
}

table tr td {
	border-bottom: 2px solid rgb(54, 14, 146);
	border-right: 2px solid rgb(109, 16, 138);
	background-color: #fff;
}

.content td input {
	width: 5vh;
	height: 5vh;
	text-align: center;
	font-size: 4vh;
	border: none;
	outline-color: #0abb9c;
	color: rgba(0, 0, 0, 0.6);
}

.content input:hover {
	background-color: #f2e5ee;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.solveBtn {
	margin-top: 1rem;
}

.solveBtn button {
	font-size: 4vh;
	border-radius: 0;
	border: 2px solid #05352c;
	cursor: pointer;
	outline: none;
	color: #0a5dbb;
}

.solveBtn button:hover {
	background-color: #16d686;
	color: #fff;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.5rem;
	}
	.solveBtn button {
		font-size: 1rem;
	}
	.content td input {
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1rem;
	}
}